body {
  background-color: #282b30;
}

a {
  padding-left: 15px;
  padding-top: 20px;
  color: white;
}

span img {
  width: 500;
  height: 500;
}

#game {
  max-width: 95%;
  max-height: 95%;
}

.hover_img a {
  position: relative;
}
.hover_img a span {
  position: absolute;
  display: none;
  z-index: 99;
}
.hover_img a:hover span {
  display: block;
}
