body {
  background-color: #282b30;
  border: 3px solid #add8e6;
  border-radius: 16px;
  max-width: 1120px;
  min-width: 240px;
  margin-left: auto;
  margin-right: auto;
}

#ulinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  width: auto;
}

#links {
  float: left;
  width: auto;
}

#links a {
  width: auto;
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

p {
  color: white;
  max-width: 70%;
}

#credits {
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}
